body {font-family: 'Helvetica', 'Arial', sans-serif !important;}
.pfc-hook{margin-top: 35px;}
.loading-overlay-content{  text-transform: none;  font-size: 24px;}
.img_checl{width: 100px;}
.info_lading{text-align: center;  color: white;font-size: 34px;font-weight: bold;margin-top: 30px;}
.group_message{
  width: 75%;
  margin-top: 16px;
}
.group_message .tit{
  color: red;
  font-style: italic;
  font-size: 13px;
}
.group_message .content{
  background: white;
  border-radius: 5px;
  padding: 6px;
  border: 1px solid #ddd;
  min-height: 19px;
  font-size: 11.5px;
  padding-bottom: 10px;

  -webkit-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
-moz-box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
box-shadow: 10px 10px 9px -7px rgba(143,141,143,1);
  color:#585866;
}
.group_message .inf_ch{
  text-align: right;
    color: #7979a4;
    font-size: 10px;
    top: 1;
    margin-top: -14px;
    padding-right: 5px;
    font-style: italic;
}
#pfc-messages{
  height: 296px;
    overflow: auto;
    padding: 6px;
}
footer{
  display: none;
}